<?xml version="1.0" encoding="utf-8"?>
<GameData>
	<Players>
		<Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<CivilizationName>LOC_CIVILIZATION_FELINE_NAME</CivilizationName>
			<CivilizationIcon>ICON_CIVILIZATION_FELINE</CivilizationIcon>
			<LeaderName>LOC_LEADER_JASPER_KITTY_NAME</LeaderName>
			<LeaderIcon>ICON_LEADER_JASPER_KITTY</LeaderIcon>
			<CivilizationAbilityName>LOC_TRAIT_CIVILIZATION_FELINE_NAME</CivilizationAbilityName>
			<CivilizationAbilityDescription>LOC_TRAIT_CIVILIZATION_FELINE_DESCRIPTION</CivilizationAbilityDescription>
			<CivilizationAbilityIcon>ICON_CIVILIZATION_FELINE</CivilizationAbilityIcon>
			<LeaderAbilityName>LOC_TRAIT_LEADER_JASPER_KITTY_NAME</LeaderAbilityName>
			<LeaderAbilityDescription>LOC_TRAIT_LEADER_JASPER_KITTY_DESCRIPTION</LeaderAbilityDescription>
			<LeaderAbilityIcon>ICON_LEADER_JASPER_KITTY</LeaderAbilityIcon>
			<Portrait>LEADER_JASPER_KITTY_NEUTRAL</Portrait>
		</Row>
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<CivilizationName>LOC_CIVILIZATION_FELINE_NAME</CivilizationName>
			<CivilizationIcon>ICON_CIVILIZATION_FELINE</CivilizationIcon>
			<LeaderName>LOC_LEADER_JASPER_KITTY_NAME</LeaderName>
			<LeaderIcon>ICON_LEADER_JASPER_KITTY</LeaderIcon>
			<CivilizationAbilityName>LOC_TRAIT_CIVILIZATION_FELINE_NAME</CivilizationAbilityName>
			<CivilizationAbilityDescription>LOC_TRAIT_CIVILIZATION_FELINE_DESCRIPTION</CivilizationAbilityDescription>
			<CivilizationAbilityIcon>ICON_CIVILIZATION_FELINE</CivilizationAbilityIcon>
			<LeaderAbilityName>LOC_TRAIT_LEADER_JASPER_KITTY_NAME</LeaderAbilityName>
			<LeaderAbilityDescription>LOC_TRAIT_LEADER_JASPER_KITTY_DESCRIPTION</LeaderAbilityDescription>
			<LeaderAbilityIcon>ICON_LEADER_JASPER_KITTY</LeaderAbilityIcon>
			<Portrait>LEADER_JASPER_KITTY_NEUTRAL</Portrait>
		</Row>
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<CivilizationName>LOC_CIVILIZATION_FELINE_NAME</CivilizationName>
			<CivilizationIcon>ICON_CIVILIZATION_FELINE</CivilizationIcon>
			<LeaderName>LOC_LEADER_JASPER_KITTY_NAME</LeaderName>
			<LeaderIcon>ICON_LEADER_JASPER_KITTY</LeaderIcon>
			<CivilizationAbilityName>LOC_TRAIT_CIVILIZATION_FELINE_NAME</CivilizationAbilityName>
			<CivilizationAbilityDescription>LOC_TRAIT_CIVILIZATION_FELINE_DESCRIPTION</CivilizationAbilityDescription>
			<CivilizationAbilityIcon>ICON_CIVILIZATION_FELINE</CivilizationAbilityIcon>
			<LeaderAbilityName>LOC_TRAIT_LEADER_JASPER_KITTY_NAME</LeaderAbilityName>
			<LeaderAbilityDescription>LOC_TRAIT_LEADER_JASPER_KITTY_DESCRIPTION</LeaderAbilityDescription>
			<LeaderAbilityIcon>ICON_LEADER_JASPER_KITTY</LeaderAbilityIcon>
			<Portrait>LEADER_JASPER_KITTY_NEUTRAL</Portrait>
		</Row>
	</Players>
	<PlayerItems>
		<!-- Vanilla -->
		<Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SUMERIAN_WAR_CART</Type>
			<Name>LOC_UNIT_SUMERIAN_WAR_CART_NAME</Name>
			<Description>LOC_UNIT_SUMERIAN_WAR_CART_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SUMERIAN_WAR_CART</Icon>
			<SortIndex>10</SortIndex>
		</Row>
		<Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SCOUT_2</Type>
			<Name>LOC_UNIT_SCOUT_2_NAME</Name>
			<Description>LOC_UNIT_SCOUT_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SCOUT_2</Icon>
			<SortIndex>20</SortIndex>
		</Row>
		<Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SLINGER_2</Type>
			<Name>LOC_UNIT_SLINGER_2_NAME</Name>
			<Description>LOC_UNIT_SLINGER_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SLINGER_2</Icon>
			<SortIndex>21</SortIndex>
		</Row>
		<Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_GOKOKU_SHRINE</Type>
			<Name>LOC_BUILDING_GOKOKU_SHRINE_NAME</Name>
			<Description>LOC_BUILDING_GOKOKU_SHRINE_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_GOKOKU_SHRINE</Icon>
			<SortIndex>30</SortIndex>
		</Row>

		<!-- Expansion1 Support -->
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SUMERIAN_WAR_CART</Type>
			<Name>LOC_UNIT_SUMERIAN_WAR_CART_NAME</Name>
			<Description>LOC_UNIT_SUMERIAN_WAR_CART_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SUMERIAN_WAR_CART</Icon>
			<SortIndex>10</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SCOUT_2</Type>
			<Name>LOC_UNIT_SCOUT_2_NAME</Name>
			<Description>LOC_UNIT_SCOUT_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SCOUT_2</Icon>
			<SortIndex>20</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SLINGER_2</Type>
			<Name>LOC_UNIT_SLINGER_2_NAME</Name>
			<Description>LOC_UNIT_SLINGER_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SLINGER_2</Icon>
			<SortIndex>21</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_GOKOKU_SHRINE</Type>
			<Name>LOC_BUILDING_GOKOKU_SHRINE_NAME</Name>
			<Description>LOC_BUILDING_GOKOKU_SHRINE_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_GOKOKU_SHRINE</Icon>
			<SortIndex>30</SortIndex>
		</Row>

		<!-- Expansion2 Support -->
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SUMERIAN_WAR_CART</Type>
			<Name>LOC_UNIT_SUMERIAN_WAR_CART_NAME</Name>
			<Description>LOC_UNIT_SUMERIAN_WAR_CART_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SUMERIAN_WAR_CART</Icon>
			<SortIndex>10</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SCOUT_2</Type>
			<Name>LOC_UNIT_SCOUT_2_NAME</Name>
			<Description>LOC_UNIT_SCOUT_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SCOUT_2</Icon>
			<SortIndex>21</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>UNIT_SLINGER_2</Type>
			<Name>LOC_UNIT_SLINGER_2_NAME</Name>
			<Description>LOC_UNIT_SLINGER_2_DESCRIPTION</Description>
			<Icon>ICON_UNIT_SLINGER_2</Icon>
			<SortIndex>20</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_GOKOKU_SHRINE</Type>
			<Name>LOC_BUILDING_GOKOKU_SHRINE_NAME</Name>
			<Description>LOC_BUILDING_GOKOKU_SHRINE_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_GOKOKU_SHRINE</Icon>
			<SortIndex>30</SortIndex>
		</Row>


		<!-- <Row>
			<Domain>StandardPlayers</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_LITTER_BOX</Type>
			<Name>LOC_BUILDING_LITTER_BOX_NAME</Name>
			<Description>LOC_BUILDING_LITTER_BOX_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_LITTER_BOX</Icon>
			<SortIndex>10</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion1_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_LITTER_BOX</Type>
			<Name>LOC_BUILDING_LITTER_BOX_NAME</Name>
			<Description>LOC_BUILDING_LITTER_BOX_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_LITTER_BOX</Icon>
			<SortIndex>10</SortIndex>
		</Row>
		<Row>
			<Domain>Players:Expansion2_Players</Domain>
			<CivilizationType>CIVILIZATION_FELINE</CivilizationType>
			<LeaderType>LEADER_JASPER_KITTY</LeaderType>
			<Type>BUILDING_LITTER_BOX</Type>
			<Name>LOC_BUILDING_LITTER_BOX_NAME</Name>
			<Description>LOC_BUILDING_LITTER_BOX_DESCRIPTION</Description>
			<Icon>ICON_BUILDING_LITTER_BOX</Icon>
			<SortIndex>10</SortIndex>
		</Row> -->
	</PlayerItems>
</GameData>